/* Определяем переменные, которые сможем использовать в этом CSS*/
:root {
  /* Цветовая палитра */
  --goluboi: #4070f4;
  --text-color: #222;
  --black: #000;
  --white: #fff;
  --head: #f0f8ff;
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --dark-color: #2c3e50;
  --light-color: #ecf0f1;
  --danger-color: #e74c3c;
  --warning-color: #f39c12;
  --success-color: #2ecc71;
  --text-light: #777;
  --gray: #95a5a6;
  
  /* Анимации */
  --transition: all 0.5s ease;
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
}

/* ==================== */
/*   ОБЩИЕ КОМПОНЕНТЫ   */
/* ==================== */
/* Глобальные сбросы и базовые стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/*размеры блоков не будут 
  изменятся при добавлении padding или border (но не margin)*/
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*тип шрифта*/
  line-height: 1.6; /*межстроковое расстояние*/
  color: var(--text-color); /*цвет текста*/
  overflow-x: hidden;/*скрывает любой контент, 
  выходящий за границы блока по горизонтальной оси, 
  не позволяя ему прокручиваться*/
}
/* Ссылки */
a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}
/* Списки */
ul {
  list-style: none;/*Убирает маркеры списка*/
}
/* Изображения */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

