
/* ============================ */
/*  ШАПКА И НАВИГАЦИЯ (НАЧАЛО)  */
/* ============================ */
.nav{
  position: fixed; /*элемент будет оставаться на месте при прокручивании*/
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--head); /*Цвет фона*/
  padding: 20px 15%; /*Внутренние отступы по У и по Х*/
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-size: 30px;
  font-weight: 600;
  color: var(--goluboi);
  /*letter-spacing: 1px; /*расстояние между буквами слова*/
}
.nav_link{
  position: relative;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  color: var(--black);
}
/*Анимация полосок под элементами навигации*/
.nav_link::before{
  position: absolute; /*элемент будет оставаться на месте при прокручивании*/
  content: "";
  height: 3px; /*высота нашей полоски*/
  width: 100%; /*длина полоски*/
  background-color: var(--goluboi);/*цвет полоски*/
  bottom: -2px; /*сдвиг вниз, чтобы полоска была под элементом, а не над ним*/
  transform: scale(0); /*по умолчанию сжимаем полоску, чтобы её не было видно*/
  transition: var(--transition); 
}
.nav_link:hover:before{
  transform: scale(1);
}

.menu-bth{
  font-size: 25px;
  color: #111;
  cursor: pointer;/*при наведении курсора на этот элемент, превращает курсор в руку с пальцем, подсказывая, что на этот можно нажать*/
  display: none;
}
@media(max-width: 1200px){
  .nav{
    padding: 20px 10%;
  }
}
@media(max-width: 992px){
  .nav{
    padding: 20px 5%;
  }
}
/*Адаптивность навигации*/
@media(max-width: 768px){
  .nav{
    padding: 20px 6%;
  }
  .links{
    position: absolute;
    top: 100%; /*отступ от верха*/
    left: 0;   /*отступ от левого края*/
    right: 0;  /*отступ от правого края*/
    background: var(--head); /*фон*/
    z-index: 1000; /*Чтобы блок распологался поверх других блоков*/
    padding: 0  4%; /*отступы по У и по Х*/
    /*По умолчанию меню скрыто*/
    height: 0;
    overflow: hidden;/*содержимое элемента, которое выходит 
    за пределы заданных размеров, не отображается.*/
    transition: var(--transition);
  }
  .links.active{
    height: 360px;
  }
  .nav_link{
    display: block;
    margin: 10px 0;
    text-align: center;
    padding: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: var(--transition);
  }
  .menu-bth{
    display: block;
  }
  .nav_link::before{
    background: none;
  }
  .nav_link:hover{
    background: #4070f4;
    color: #fff;
  }
}

/* =========================== */
/*  ШАПКА И НАВИГАЦИЯ (КОНЕЦ)  */
/* =========================== */