
/* ======================== */
/*  КНОПКА НАВЕРХ (НАЧАЛО)  */
/* ======================== */
.button-up {
    position: fixed; /*элемент будет оставаться на месте при прокручивании*/
    /*расположение кнопки на экране*/
    bottom: 30px; /*Отступ от нижнего края*/
    right: 30px;  /*Отступ от правого края*/
    /*Размеры кнопки*/
    width: 50px;  /*Ширина кнопки*/
    height: 50px; /*Высота кнопки*/
    /*Цвета фона и текста*/
    background-color: var(--primary-color); 
    color: var(--white);
    border-radius: 50%; /*скругление*/
    display: flex;     /*родитель*/
    align-items: center;
    justify-content: center;
    font-size: 1.2rem; /*размер текста*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999; /*Гарантирует, что элемент всегда будет поверх других элементов*/
    /* По умолчанию */
    opacity: 0; /*непрозрачность=0*/
    visibility: hidden; /*видимость: скрытый*/

    transition: var(--transition);
}
.button-up.active {
    opacity: 1;     /*непрозрачность=1*/
    visibility: visible; /*видимость: видимый*/
}
.button-up:hover {
    background-color: var(--dark-color);
    transform: translateY(-5px);
}
/* ======================= */
/*  КНОПКА НАВЕРХ (КОНЕЦ)  */
/* ======================= */